<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
      class="repo-img-light w-100"
      alt="{{ include.username }}"
      src="https://opengraph.githubassets.com/1/{{ include.username }}"
    >
    <img
      class="repo-img-dark w-100"
      alt="{{ include.username }}"
      src="https://opengraph.githubassets.com/1/{{ include.username }}"
    >
  </a>
</div>
